<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <username>noorah.patel@kroger.com</username>
            <password>AKCp8nHDr3CPcBw4z7XUDV8aUezCLRmSQB6oJMq4Ps9mqP3QE82yGGeLxvS5DCvMEe1T1C18f</password>
            <id>artcentral</id>
        </server>
        <server>
            <username>noorah.patel@kroger.com</username>
            <password>AKCp8nHDr3CPcBw4z7XUDV8aUezCLRmSQB6oJMq4Ps9mqP3QE82yGGeLxvS5DCvMEe1T1C18f</password>
            <id>artsnapshots</id>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <mirrorOf>*,!artcentral,!artsnapshots,!artremote</mirrorOf>
            <name>remote-repos</name>
            <url>https://krogertechnology.jfrog.io/artifactory/remote-repos</url>
            <id>artremote</id>
        </mirror>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>external-repos</mirrorOf>
            <name>external-repos to override blocking of http</name>
            <url>http://0.0.0.0/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artcentral</id>
                    <name>libs-release</name>
                    <url>https://krogertechnology.jfrog.io/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>artsnapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://krogertechnology.jfrog.io/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artcentral</id>
                    <name>plugin-release</name>
                    <url>https://krogertechnology.jfrog.io/artifactory/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>artsnapshots</id>
                    <name>plugin-snapshot</name>
                    <url>https://krogertechnology.jfrog.io/artifactory/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
