<div class="welcomeContainer">
  <table algin="center" width="100%" border="0px">
    <tr>
      <td>
        <h1 style="text-align:center; font-family: Segoe UI, Arial, sans-serif; color: #0c467c;">
          <strong>Content Services Platform</strong>
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td align="center">
        <img src="../../../assets/csplogo.png"/>
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="text-align:center; font-family: Segoe UI, Arial, sans-serif; color: #0c467c;">
          Single Source of truth system for product images
        </h3>
      </td>
    </tr>
  </table>
</div>
